{% extends 'root.html' %}

{% block title %}Contact and Support - {% endblock %}

{% block bodyblock %}

    <div class="container">

      <div class="row">

        <div class="span8">
          <h1>Applications</h1>

          <h3>iOS</h3>

          <h3>Android</h3>


          <h3>Source Codes</h3>

          <p>The source codes for these applications are all available here:</p>

          <ul>
            <li>
              <a href="https://github.com/OpenWatch/ACLU-AZ-Web">Website</a>
            </li>
            <li>
              <a href="https://github.com/OpenWatch/ACLU-AZ-iOS">iOS</a>
            </li>
            <li>
              <a href="https://github.com/OpenWatch/ACLU-AZ-Android">Android</a>
            </li>
          </ul>

        </div>

        <div class="span4">

          <h3>Administration</h3>

          <p>Use the <a href="/admin">Administrator Console</a> to modify specific reports.</p>

          <h3>Support</h3>

          <p>Found a bugs? Got a features request? Just want to say hi?

          <p>Get in touch: <b><a href="mailto:contact@openwatch.net">contact@openwatch.net</a></b>
        </div>

      </div>

    </div> <!-- /container -->

{% endblock %}