{% extends 'root.html' %}

{% block title %}Report {{report.pk}} - {% endblock %}

{% block bodyblock %}

    <div class="container">

      <div class="row">

        <div class="span8">
          <h1>Report from <i>{{report.location}}</i></h1>

          <br />

          <blockquote>
            <p>{{report.description}}</p>
          </blockquote>

        </div>

        <div class="span4">
          <h3>Map</h3>
          <p><h4>{{report.location}}</h4></p>
          <p><i>({{report.lat}}, {{report.lon}})</i></p>
          <button class="btn btn-success"><i class="icon-check icon-white"></i> Approve Report</button>
          <button class="btn btn-danger"><i class="icon-remove icon-white"></i> Hide Report</button>
        </div>

      </div>

    </div> <!-- /container -->

{% endblock %}