{% extends 'root.html' %}

{% block title %}Report {{report.pk}} - {% endblock %}

{% block bodyblock %}

    <div class="container">

      <div class="row">

        <div class="span8">
          <h1>Report from <i>{{report.location}}</i>{% if report.agency%} <small>{{report.agency}}</small>{%endif%} </h1>

          {% if report.approved %}
            <div class="alert alert-success">
            This report is <b>approved</b>.
            </div>
          {% endif %}

          {% if report.red_flagged %}
            <div class="alert alert-danger">
            This report is <b>flagged</b>.
            </div>
          {% endif %}

          

          <br />

          <blockquote>
            <div>
              <p class="lead">{{report.description}}</p>
            </div>
          </blockquote>

          <hr />

          <p>
            <address>
              <h4><a href="mailto:{{report.email}}">{{report.first_name}} {{report.last_name}}</a><br /></h4>
              <abbr title="Email">E:</abbr> <a href="mailto:{{report.email}}">{{report.email}}</a><br />
              <abbr title="Phone">P:</abbr> <b>{{report.phone}}</b><br />
              <br />
              {{report.address_1}}<br />
              {{report.address_2}}<br />
              {{report.city}} {{report.state}}<br />

            </address>
          </p>

          <p>
            <i>{{report.date}}</i>
          </p>

        </div>

        <div class="span4">
          <h3>Map</h3>

            <script type="text/javascript">

            function loadMap(){

                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 11,
                  center: new google.maps.LatLng({{report.lat}},{{report.lon}}),
                  mapTypeId: google.maps.MapTypeId.ROADMAP,
                  panControl: true,
                  zoomControl: true,
                  mapTypeControl: true,
                  scaleControl: true,
                  streetViewControl: true,
                  overviewMapControl: true
                });

                var marker;
                marker = new google.maps.Marker({
                  position: new google.maps.LatLng({{report.lat}},{{report.lon}}),
                  map: map,
                  center: new google.maps.LatLng({{report.lat}},{{report.lon}}),
                  draggable: false
                });
                marker.hide();

                var latLng = marker.getPosition(); // returns LatLng object
                map.setCenter(latLng); // setCenter takes a LatLng object

            };
            </script>

          <div id="map" style="height: 300px; opacity: .8; margin-left: 0px;"  >
          </div>

          <p><h4>{{report.location}}</h4></p>
          <p><i>({{report.lat}}, {{report.lon}})</i></p>
          <a href="/approve/{{report.pk}}" class="btn btn-success"><i class="icon-check icon-white"></i> Approve Report</a>
          <a href="/flag/{{report.pk}}" class="btn btn-danger"><i class="icon-remove icon-white"></i> Hide Report</a>
        </div>

      </div>

    </div> <!-- /container -->

{% endblock %}

{% block scripts %}

<!-- Google Maps -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script>
  $(document).ready(function() {

    loadMap();

  });

</script>

{% endblock %}